@font-face{
	font-family: 'Oswald-Regular';
	src: url('../fonts/Oswald-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'Oswald-Light';
	src: url('../fonts/Oswald-Light.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'PT-Sans';
	src: url('../fonts/PT_Sans-Web-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
h1, h2, h4{
        font-family: 'Oswald-Light', sans-serif;
}
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: 'Oswald-Regular', sans-serif;
}
/* Need for sticky footer*/
html,body{
	height: 100%;
}
/* Start wrap for sticky footer*/
#wrap{
	min-height: 100%;
	margin-bottom: -65px;
}
#wrap:after{
    content: "";
    display: block;
    height: 65px;
}
/* End wrap for sticky footer*/

/*header*/
#header{
	width: 80%;
	margin: 0 auto;
}
/*layer_1*/
#feedback{
	height: 35px;
	margin-bottom: 55px;
}
#contacts_feedback li{
	float: left;
	display: inline-block;
	line-height: 35px;
}
.contact_icon_phone:before{
	content: "";
        display: block;
        float: left;
        background: url('../img/main/phone.png') no-repeat;
	height: 16px;
	width: 16px;
	margin: 9px 5px 0 0;
}
.contact_icon_mail:before{
	content: "";
        display: block;
        float: left;
        background: url('../img/main/envelope.png') no-repeat;
	height: 16px;
	width: 21px;
	margin: 9px 5px 0 0; 
}
.phone{
	margin-right: 20px;
}
#contacts_social li{
	float: right;
	display: inline-block;
	margin: 3px 0 0 4px;
	cursor: pointer; /* if use onclick */
}
.social_icon{
	background: url('../img/main/storesprite.png') no-repeat;
	width: 29px;
	height: 29px;
}
.fb{
	background-position: 0 -13707px;
}
.fb:hover{
	background-position: 0 -13738px;
}
.google{
	background-position: 0 -13831px;
}
.google:hover{
	background-position: 0 -13862px;
}
.twi{
	background-position: 0 -13955px;
}
.twi:hover{
	background-position: 0 -13986px;
}
.vk{
	background-position: 0 -14079px;
}
.vk:hover{
	background-position: 0 -14110px;
}
#contacts:after{clear: both;}

/*layer_2*/
#account{
	height: 60px;
	margin-bottom: 40px;
}
#account img{
	float: left;
}
#account ul{
	height: 55px;
}
#account li{
	float: right;
	line-height: 55px;
	margin-left: 35px;
}
#account a{
	color: #000;
}
#account a:hover{
	color: #16b716;
}
.account_icon:before{
	content: "";
        display: block;
        float: left;
	background: url('../img/main/accountsprite.png') no-repeat;
	height: 16px;
	margin: 18px 5px 0 0;
}
.enter:before{
	background-position: 0 -37px;
	width: 10px;
}
.enter:hover::before{
	background-position: -20px -37px;
}
.acc:before{
	background-position: 0 0;
	width: 15px;
}
.acc:hover::before{
	background-position: -20px 0;
}
.cart:before{
	background-position: 0 -18px;
	width: 20px;
}
.cart:hover::before{
	background-position: -20px -18px;
}
#account:after{clear: both;}

/*layer_3*/
#menu{
	margin-bottom: 20px;
}
#menu li{
	display: inline-block;
}
#menu a{
	color: #000;
	font-size: 20px;
	margin-right: 50px;
}
#menu a:hover{
	color: #16b716;
}
/*content*/
/*left content*/
#content{
	width: 95%;
	margin: 0 auto;
        min-height: 100%;
}
#catalog{
	float: left;
	width: 20%;
}
#catalog h2{
	text-align: center; 
	color: #16b716;
	margin-bottom: 15px;
}
#catalog li{
        font-size: 20px;
	margin: 10px 0 10px 10px;
	width: 92px;

}
#catalog a{
	color: #000;
}
#catalog a:hover{
	color: #16b716;
}

/*right content*/
#latestbox{
	float: right;
	width: 80%;
	text-align: center;
}
#listbox{
	text-align: center;
}
.item-price{
	color: #16b716;
	margin-bottom: 5px;
}
#listbox a{
	color: #000;
}
.itembox{
	display: inline-block;
	text-align: center;
	width: 250px;
	margin: 2% 2.5%;
	padding: 15px;
	border-radius: 10px;
        /*box-sizing: border-box;*/
}
.itembox:hover{
	box-shadow: -1px 5px 10px #d6d5d5;
	border: 1px solid #d6d5d5;
}
.itembox p{
    margin: 0 5px 0 5px;
}
.cartbutton{
	height: 38px;
	width: 100px;
	cursor: pointer;
	background: none;
	border: none;
	padding: 0 8px 0 8px;
	outline: none;
}
.cartbutton:hover{
	background: #16b716;
	color: #fff;
}
.cartbutton:before{
	background-position: 0 -18px;
	line-height: 30px;
	width: 20px;
	margin: 2.5px 0 0 3px;
}
.cartbutton:hover::before{
	background-position: -40px -18px;
}

/*footer*/
#footer, #footer:after{
	clear: both;
	height: 65px;
	background: #111;
	line-height: 65px;
        padding: 0 5%;
}
#footer p{
	display: inline-block;
	color: #fff;
        
}
#footer p+p{
	float: right;
}

/*login and register*/
.login-signup{
        text-align: center;
        width: 340px;
        margin: 0 auto;
        min-height: 100%;
}
.login-signup p {
        text-align: left;
}
.login-signup h1, .login-signup h2{
	margin-bottom: 20px;
        color: #16b716;
}
.login-signup input{
	width: 340px;
	height: 40px;
	font-size: 18px;
	padding: 0 5px;
	margin: 5px 0;
	border-color: #000;
	border-radius: 2px;
}
.login-signup input:last-child{
        width: 170px;
}
.login-signup input:focus{
	outline: none;
}
.account-subm{
	border: none;
	background: #fff;
        cursor: pointer;
}
.account-subm:hover{
    background: #16b716;
}
#account_about{
    width: 40%;
    margin: 0 auto;
}
#account_about h2{
    display: table-cell;
    color: #16b716;
}
#account_about table{
    border-collapse: collapse;
}
#account_about tr, #account_about td{
    padding: 5px;
}
.account_info{
    float: left;
}
.account_info:after{
    clear: both;
}
#account_about hr{
    border: none;
    width: 1px;
    height: 170px;
    background-color: gray;
    float: left;
    margin-left: 9%;
}
.account_info tr td:first-child{
    color: #737373;
}
.account_action{
    float: right;
    text-align: left;
}
.account_action a{
    color: #000;
}
.account_action a:hover{
    color: #16b716;
}
.account_action:after{
    clear: both;
}

/*item content*/
.item-content{
	float: right;
	width: 80%;
}
.main-content{
	height: 300px;
	margin: 0 0 50px 100px;
	display: block;
}
.main-content img{
	margin-right: 20px;
}
.main-content span{
	font-size: 12px;
}
.main-content p{
	margin-top: 20px;

}
.full-description{
	clear: both;
	font-size: 16px;
        margin-bottom: 30px;
        font-family: 'PT-Sans', sans-serif;
}
.full-description hr{
    width: 20%;
}

/*Category List
.categorybox{
	display: inline-block;
	text-align: center;
	width: 250px;
	height: 270px;
	margin: 2% 3.5%;
	padding-top: 25px;
	border-radius: 10px;
}
.categorybox:hover{
	box-shadow: -1px 5px 10px #d6d5d5;
	border: 10px solid #d6d5d5;
}
.categorybox p{
	margin-top: 10px;
}*/

/*Cart page*/
#cartbox {
    float: right;
    width: 80%;
}
#cartbox h2{
    color: #16b716;
    text-align: center;
}
#cartbox th, #cartbox td{
    padding: 10px 40px 0 0;
}
#cartbox a{
    color: #069aca;
}
#cartbox a:hover{
    color: #000;
}
#cartbox .delete-icon{
    background: url('../img/main/accountsprite.png') no-repeat;
    width: 16px;
    height: 16px;
    display: block;
}
#cartbox .delete{
    background-position: -16px -53px;
}
#cartbox .delete:hover{
    background-position: 0 -53px;
}
#cartprice{
    padding: 20px 0;
}
#cartprice tr td{
    padding: 0;
}
.checkout{
    text-align: center;
    width: 13%;
    background: #16b716;
    line-height: 38px;
    color: #fff;
    float: left;
    margin-bottom: 1em;
}
.checkout:hover{
    color: #000;
}
.checkout:after{
    clear: both;
}
.buy h1{
    margin: 0;
}
.buy form{
    margin-top: 1em;
}

/*Info bar*/
/* About */
#about{
    width: 80%;
    margin: 0 auto;
}
#about h2{
    color: #16b716;
}
#about p{
    font-family: 'PT-Sans', sans-serif;
}
/* Delivery */
#infobar{
    width: 90%;
    margin: 0 auto;
    min-height: 100%;
}
#left-table h2, #right-table h2{
    color: #000;
}
#left-table p, #right-table p{
    color: #737373;
    font-family: 'PT-Sans', sans-serif;
}
#left-table tr td, #right-table tr td{
    padding-bottom: 1.25em;
}
#left-table{
    border-spacing: 10px;
    float: left;
}
#right-table{
    border-spacing: 10px;
    float: right;
}
.deliver{
    background: url('../img/main/infobarsprite.png') no-repeat -204px 0;
    width: 68px;
    height: 68px;
}
.pay{
    background-position: -68px 0;
    height: 68px;
}
.return{
    background-position: 0 0;
    height: 68px;
}
.quality{
    background-position: -136px 0;
    height: 68px;
}

/* Feedback(support) */
.support{
    width: 45%;
    margin: 0 auto;
}
.support h2{
    text-align: center;
    color: #16b716;
    margin: 0;
}
.support p{
    font-family: 'PT-Sans', sans-serif;
    text-align: left;
}
.support form{
    margin-top: 5px;
}
.support input[name="submit"]{
    margin: 0;
    float: left;
    width: 150px 
}
.support input{
	width: 200px;
	height: 40px;
	font-size: 18px;
	padding: 0 5px;
	margin: 5px 0;
	border-color: #000;
	border-radius: 2px;
}
.support textarea{
    	width: 340px;
	height: 96px;
	font-size: 18px;
	padding: 0 5px;
	margin: 5px 0;
        border: solid #000 2px;
	border-radius: 2px;
}
.support textarea:focus , .support input:focus{
	outline: none;
}
.support span{
    text-align: left;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 1920px){
    *{ font-size: 23px; }
    h1 { font-size: 39px; }
    h2 { font-size: 31px; }
    h3 { font-size: 25px; }
    .main-content span{ font-size: 19px; }
    .cartbutton{
        width: 145px;
    }
    .cartbutton:before{
        margin: 7.5px 0 0 3px;
    }
    #catalog li{
        width: auto;
    }
    .itembox{    
        margin: 2% 3.5%;
    }
    .support{
        width: 31%;
    }
    #sliderwrap{
        width: 90% !important;
        margin: 0 auto;
        height: 664px !important;

    }
    #slider, #slider img{
        width: 1728px !important;
        height: 664px !important;
    }
    #next, #prev{
        top: 307px !important;
    }
    .account_icon:before{
        margin: 21px 5px 0 0;
    }
    .contact_icon_mail:before, .contact_icon_phone:before{
        margin: 13px 5px 0 0;
    }
    .social_icon{
        width: 36px;
	height: 36px;
    }
    .vk{
        background-position: 0 -13393px;
    }
    .vk:hover{
        background-position: 0 -13355px;
    }
    .fb{
        background-position: 0 -12823px;
    }
    .fb:hover{
        background-position: 0 -12785px;
    }
    .google{
       background-position: 0 -12937px;
    }
    .google:hover{
       background-position: 0 -12899px;
    }
    .twi{
        background-position: 0 -13279px;
    }
    .twi:hover{
        background-position: 0 -13241px;
    }
}
@media only screen and (min-width: 1680px) and (max-width: 1919px){
    *{ font-size: 21px; }
    h1 { font-size: 37px; }
    h2 { font-size: 29px; }
    h3 { font-size: 23px; }
    .main-content span{ font-size: 17px; }
    #catalog li{
        width: auto;
    }
    .cartbutton{
        width: 135px;
    }
    .cartbutton:before{
        margin: 7.5px 2px 0 3px;
    }
    #content{
        width: 90%;
    }
    #sliderwrap, #slider, #slider img{
        width: 1680px !important;
        height: 647px !important;
    }
    #next, #prev{
        top: 298.5px !important;
    }
    .contact_icon_mail:before, .contact_icon_phone:before{
        margin: 12px 5px 0 0;
    }
    #account .account_icon:before{
        margin: 21px 5px 0 0;
    }
    .account_icon:before{
        margin: 8px -5px 0 0;
    }
    #infobar{
        width: 85%;
    }
    .support{
        width: 35%;
    }
    #account_about hr{
        margin-left: 7%;
    }
    .social_icon{
        width: 36px;
	height: 36px;
    }
    .vk{
        background-position: 0 -13393px;
    }
    .vk:hover{
        background-position: 0 -13355px;
    }
    .fb{
        background-position: 0 -12823px;
    }
    .fb:hover{
        background-position: 0 -12785px;
    }
    .google{
       background-position: 0 -12937px;
    }
    .google:hover{
       background-position: 0 -12899px;
    }
    .twi{
        background-position: 0 -13279px;
    }
    .twi:hover{
        background-position: 0 -13241px;
    }
}
@media only screen and (min-width: 1440px) and (max-width: 1679px){
    *{ font-size: 18px; }
    h1 { font-size: 34px; }
    h2 { font-size: 26px; }
    h3 { font-size: 20px; }
    .main-content span{ font-size: 14px; }
    .support{
        width: 41%;
    }
    .cartbutton{
        width: 125px;
    }
    .cartbutton:before{
        margin: 6.5px 0 0 3px;
    }
    #header{
        width: 90%;
    }
    #account_about hr{
        margin-left: 6%;
    }
    #account img{
        max-width: 30% !important;
    }
    #sliderwrap, #slider, #slider img{
        width: 1440px !important;
        height: 554px !important;
    }
    #next, #prev{
        top: 252px !important;
    }
}
@media only screen and (max-width: 1280px){
    #content{
        width: 100%;
    }
    #catalog{
        width: 15%;
        margin-left: 20px;
    }
    #latestbox{
        width: 83%;
    }
    .itembox{
        margin: 2%;
    }
    .support{
        width: 47%;
    }
    .main-content{
        margin: 0 0 50px 50px;
    }
    #account_about hr{
        margin-left: 6%;
    }
    #sliderwrap, #slider, #slider img{
        width: 1280px !important;
        height: 492px !important;
    }
    #next, #prev{
        top: 221px !important;
    }
}
@media only screen and (max-width: 1024px){
    .itembox{
        margin: 2%;
    }
    #catalog{
        float: none;
        width: 100%;
        text-align: center;
        margin: 0;
    }
    #catalog h2{
        margin-bottom: 5px;
    }
    #catalog li{
        display: inline-block;
        width: auto;
        margin: 0 15px 30px 15px;
    }
    #latestbox{
        float: none;
        width: 100%;
    }
    #latestbox h2{
        padding: 0 !important;
    }
    #infobar{
        width: 60%;
        margin: 0 auto;
    }
    #left-table{
        float: none;
    }
    #right-table{
        float: none;
    }
    #account img{
        max-width: 35% !important;
    }
    .support{
        width: 57%;
    }
    #account_about{
        width: 55%;
    }
    #cartbox{
        float: none;
        width: 83%;
        margin: 0 auto;
    }
    .product-table{
        margin: 0 auto;
    }
    .main-content{
        margin: 0 0 50px 0;
    }
    .item-content{
        float: none;
        margin: 0 auto;
    }
    #account_about hr{
        margin-left: 9%;
    }
    #sliderwrap, #slider, #slider img{
        width: 1024px !important;
        height: 392px !important;
    }
    #next, #prev{
        top: 171px !important;
    }
    
}
@media only screen and (max-width: 960px){  
    .itembox{
        padding: 15px 0;
    }
    #account img{
        max-width: 32% !important;
    }
    .support{
        width: 62%;
    }
    #account_about{
        width: 60%;
    }
    #cartbox{
        width: 89%;
    }
    #account_about hr{
        margin-left: 11%;
    }
    #sliderwrap, #slider, #slider img{
        width: 960px !important;
        height: 370px !important;
    }
    #next, #prev{
        top: 160px !important;
    }
    
}
@media only screen and (max-width: 768px){
    #account img{
        max-width: 30% !important;
    }
    .cartbutton{
        background: #16b716;
        color: #fff;
    }
    .cartbutton::before{
        background-position: -40px -18px;
    }
    .account-subm{
        background: #16b716;
    }
    .checkout{
        padding: 0 10px;
    }
    .itembox{
        box-shadow: -1px 5px 10px #d6d5d5;
        border: 1px solid #d6d5d5;
        margin: 2%;
        width: 289px;
    }
    .support{
        width: 77%;
    }
    #account_about{
        width: 75%;
    }
    #about br{
        display: none;
    }
    #cartbox{
        width: 98%;
    }
    #cartbox th, #cartbox td{
        padding: 10px 20px 0 0;
    }
    #sliderwrap, #slider, #slider img{
        width: 768px !important;
        height: 296px !important;
    }
    #next, #prev{
        top: 123px !important;
    }
}
@media only screen and (max-width: 414px){
    #contacts_feedback li{
        float: none;
    }
    #contacts_social li{
        float: none;
        margin: 0 10px;
    }
    #contacts_social, #contacts_feedback{
        text-align: center;
    }
    #account img{
        float: none;
        max-width: 50% !important;  
    }
    #account{
        text-align: center;
    }
    #account li{
        margin: 0 30px 0 0;
        display: inline-block;
    }
    #menu a{
        margin: 0
    }
    #menu li{
        display: block;
    }
    #sliderwrap{
        display: none;
    }
    .itembox{
        padding: 15px;
    }
    .support table{
        float: none !important;
    }
    .support textarea{
        width: 200px;
    }
    #infobar{
        width: 100%;
    }
    .account_info, .account_action{
        float: none;
    }
    #account_about hr{
        float: none;
        margin: 0;
        width: 100%;
        height: 1px;
    }
    .login-signup input{
        width: 325px;
    }
    #cartbox th, #cartbox td{
        padding: 0;
    }
    .checkout{
        width: 30%;
    }
    .item-content{
        width: 90%;
    }
    .main-content{
        height: auto;
    }
    .main-content img{
        margin: 0;
        float: none;
    }
    .img-wrap{
        text-align: center;
    }
    .full-description hr{
        width: 40%;
    }
}